body {
    font: 20px verdana, arial;
    color: snow;
}

#quemSomos {
    background-color: snow;
    color:black
}

#parceiros {
    background-color: firebrick;
}

#serviços {
    background-color: snow;
    color:black;
}

.navbar {
    background-color:black;
}

.nav-link {
    color:snow;
}

.margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_img {
    width: 400px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.col-img {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid;
}

.circleContent {
    border: 3px solid;
    width: 150px;
    height: 150px;
}

footer {
    background-color:black;
}